* {
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header {
    background: url(../images/banner/banner2.png);
    
    width: 100%;
    height: 750px;
    position: absolute;
    text-align: right;
} */
header {
    background: #FFF8F3;
    background-image: url(../images/banner/banner2.png);
    background-repeat: no-repeat;
    padding-top: 30px;
    padding-bottom: 160px;
    margin-bottom: 130px;
    text-align: right;

}

.section-head {

    margin-top: 200px;
    margin-right: 220px;
    padding-left: 845px;
    /* margin-bottom: 130px; */
}

.head-title {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}

.title-description {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;

}

.btn-primary {
    height: 64px;
    background: #F15B22;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    padding: 21px 25px;
}

.btn-secondary {
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    border-style: none;
    padding: 21px 25px;
}

.fail {
    display: flex;
    align-items: center;
    gap: 87px;
    margin-bottom: 130px;
    /* margin-left: 206px;
    margin-right: 322px; */
}

.fail-picture {
    padding-left: 206px;

}

.fail-content {
    padding-right: 322px;

}

.fail-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 24px;
}

.fail-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 16px;
}

.fail-content ul {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    list-style: none;
}

span {
    content: "\2713";
    color: green;
    font-weight: 400;
}

.my-plan {
    display: flex;
    gap: 86px;
    margin: 0px 230px;
    text-align: center;
    margin-bottom: 130px;
}

.my-plan-item {
    padding: 10px;
}

.plan-title {
    margin-top: 24px;
    margin-bottom: 16px;
    color: #151414;
    font-weight: 700;
    font-size: 30px;
}

.plan-sub-title {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

.gradient {
    margin: 0 230px;
    max-width: 1140px;
    background: linear-gradient(90deg, #f15d22b0 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 300px;
    border-radius: 8px;
    margin-bottom: 130px;
}

.pic-grad {
    padding-top: 70px;
    padding-left: 64px;
    padding-right: 550px;
}

.grad {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;

}

footer {
    background: #151414;
    width: 1600px;
    height: 577px;
}

.foot {
    display: flex;
    color: #FFF8F3;
    gap: 400px;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 300px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 16px;
}

.footer-content {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.f-email {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.f-number {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 32px;
}

.f-sub {
    margin-bottom: 31px;
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
}

.form {
    /* color: black; */
    margin-bottom: 12px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: transparent
}

.future ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 0;
}